// For Command Tracker
.ct-view-content {
  padding: 0 1rem 1rem;
  margin-top: var(--view-header-top-offset);

  & .ct-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button:active:hover {
      position: relative;
      top: 2px;
    }
  }

  & details {
    position: relative;
    width: 100%;
    margin: 0 0 0.5rem auto;
    border: 1px solid var(--background-modifier-border-focus);

    & summary {
      cursor: pointer;
      line-height: 3rem;
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;
      list-style: none;

      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--background-primary);
      border-bottom: none;

      &::after {
        content: '+';
        font-size: 1rem;
        transition: transform 0.2s;
        margin-right: 0.5rem;
      }
    }

    &[open] summary {
      border-bottom: 1px solid var(--background-modifier-border-focus);

      &::after {
        content: '-';
        transform: rotate(720deg);
        display: flex;
        align-items: center;
      }
    }

    & > .setting-item {
      width: 50%;
      margin: 0.5rem;
    }

    & > .ct-show-columns-wrapper {
      margin: 0.5rem;

      > span {
        display: inline-block;
        margin-bottom: 0.75rem;
      }

      > div {
        max-width: calc(50% - 1rem);
        margin-left: 1rem;
      }
    }
  }

  & .ct-table {
    height: 100%;
    width: 100%;

    & .ag-root-wrapper {
      height: calc(100% - 42px);
    }
  }
}

body.is-phone .ct-view-content {
  overflow-y: scroll;

  & details {
    & > .setting-item {
      width: calc(100% - 1rem);
    }

    & > .ct-show-columns-wrapper {
      margin: 0 0.5rem;

      > div {
        max-width: calc(100% - 2rem);
        margin-left: 1rem;
        font-weight: initial;
      }
    }
  }

  & .ct-table {
    height: calc(100% - 114px);
    margin-bottom: 90px;

    & .ag-root-wrapper {
      height: calc(100vh - (114px + var(--view-header-top-offset) + 90px));
    }
  }
}

.ct-modal {
  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0;
    gap: 0.5rem;

    h4 {
      margin-top: 0;
    }

    .ct-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }
}

.ct-settings {
  & .ct-toggle-show-column {
    padding-left: 2rem;
  }

  & .ct-delete-input {
    width: 5rem;
    min-width: 5rem;
  }

  & .ct-delete-description {
    margin-top: 1rem;
    padding: 0.75rem 0;
    border-top: 1px solid var(--background-modifier-border);

    & > ul {
      margin-top: 0.5rem;
      padding-left: 1rem;
    }

    & li {
      margin: 0.25rem 0;
    }
  }
}

.ct-custom-menu-popup {
  position: absolute;
  padding: 4px;
  min-width: 200px;
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-s);
  z-index: var(--layer-menu);

  & > .ct-custom-menu-item {
    cursor: pointer;
    font-size: var(--font-ui-small);
    border-radius: var(--radius-s);
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: var(--background-modifier-hover);
    }

    & > .ct-custom-menu-icon {
      color: var(--icon-color);
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.ct-hidden-link {
  visibility: hidden;
}
